body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: radial-gradient(circle at 20% 30%, #1e3a8a 0%, transparent 40%),
        radial-gradient(circle at 80% 20%, #9333ea 0%, transparent 45%),
        radial-gradient(circle at 70% 80%, #3b82f6 0%, transparent 50%),
        radial-gradient(circle at 30% 90%, #1e40af 0%, transparent 55%),
        #0a0f24;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #cbd5e1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin-top: 40px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    box-shadow:
        0 0 20px rgba(125, 50, 255, 0.7),
        0 0 35px rgba(70, 100, 255, 0.5),
        0 0 60px rgba(125, 50, 255, 0.4);
}

.container {
    margin-top: 30px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

footer {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 12px;
    color: #fdfeff;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

.glass-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    padding: 14px 24px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 500;

    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.25);

    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    transition: 0.25s ease;
}

.glass-btn:hover {
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.25);
    transform: translateY(-3px);
}

/* Feather Icons */
.glass-btn i {
    width: 20px;
    height: 20px;
}

/* Custom Icon (MAL & Spotify) */
.custom-icon {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
    object-fit: contain;
}

.tebal {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
